{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-class-properties", "react-docgen"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel", "babel-plugin-styled-components"]
    }
  }
}
