{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "no-unused-expressions": 0,
    "react/jsx-filename-extension": [2, {
      "extensions": [".js", ".jsx"]
    }],
    "react/jsx-one-expression-per-line": 0,
    "react/require-default-props": 0,
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all"
    }],
    "import/prefer-default-export": "off"
  }
}
